*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.fl{
    float: left;
    display: inline;
}
.fr{
    float: right;
    display: inline;
}
.clearfix:after { 
    content:"."; clear: both; height: 0; overflow: hidden; visibility: hidden; display: block; 
}
.clearfix { 
    zoom: 1;
}
