*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

.title{
    height: 67px;
    border-bottom: 3px solid #00a2e8;
    color: #00a2e8;
    font-size: 30px;
    line-height: 67px;
    padding-left: 68px;
    background: #fff url(../img/keji.png) 25px 10px no-repeat;
    background-size: 50px 50px;
    border-radius: 3px;
}
.container{
    overflow: hidden;
}
.caption{
    width: 200px;
    height: 100%;
    background-color: #00a2e8;
    float: left;
}
.caption > .item{
    height: 70px;
    line-height: 70px;
    padding-left: 68px;
    border-bottom: 3px solid #fff;
    font-size: 24px;
    color: #fff;
}

.content{
    width: 1200px;
    background-color: #fff;
    float: left;
}
.content-caption{
    height: 70px;
    line-height: 70px;
    background-color: #fff;
    border-bottom: 3px solid #00a2e8;
    
    padding-left: 50px;
}
.theader{
    height: 70px;
    overflow: hidden;
    padding-left: 50px;
}
.theader > .item{
    width: 200px;
    height: 50px;
    border-right: 3px solid #00a2e8;
    float: left;
}

.tbody{
    width: 1200px;
    border-bottom: 3px solid #00a2e8;
}
.tbody > .trow{
    height: 70px;
    line-height: 70px;
    padding-left: 50px;
}