<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>桃桃记账</title>
    <link rel="icon" href="img/PAC.ico" type="image/x-icon"  th:href="@{/img/PAC.ico}">
    <link rel="stylesheet" href="css/common.css"  th:href="@{/css/common.css}">
    <link rel="stylesheet" href="css/base.css" th:href="@{/css/base.css}">
</head>
<body>
    <div class="title">
        <div class="wrap">
            <a href="javascript:;"><img src="img/logo.png" alt="logo"></a>
        </div>
    </div>
    <div class="content">
        <div class="wrap">
            <div class="slider">
                <div class="item" id="account">账本</div>
                <div class="item" id="statics">统计</div>
                <div class="item" id="setting">管理</div>
            </div>
            <div class="table">
                <div class="table-caption clearfix">
                    <ul class="fl clearfix">
                        <li class="fl"><a href="#" class="add">新增一笔</a></li>
                        <li class="fl"><a href="#" class="add">新增收入</a></li>
                    </ul>
                    
                    <ul class="fr clearfix">
                        <li class="dropdown fl">
                            <a class="select">按日<i></i></a>
                            <ul class="dropdown-layer">
                                <li class="opt date">按日</li>
                                <li class="opt week">按周</li>
                                <li class="opt month">按月</li>
                                <li class="opt period">按时间段</li>
                            </ul>
                        </li>
                        <li class="date-select fl"><input type="date"></li>
                    </ul>   
                </div>
                <div class="theader clearfix">
                    <div class="item fl square">名称</div>
                    <div class="item fl square">类型</div>
                    <div class="item fl square">数目</div>
                    <div class="item fl square">备注</div>
                    <div class="item fl square">时间</div>
                </div>
                <div class="tbody">
                    <div class="trow clearfix">
                        <div class="item fl square">蒙牛酸酸乳蒙牛酸酸乳蒙牛酸酸乳</div>
                        <div class="item fl square">食品</div>
                        <div class="item fl square">15.00</div>
                        <div class="item fl square">不好喝</div>
                        <div class="item fl square">2020-11-7&nbsp;&nbsp;07:30</div>
                    </div>
                    <div class="trow clearfix">
                        <div class="item fl square">水费</div>
                        <div class="item fl square">水电费</div>
                        <div class="item fl square">57.00</div>
                        <div class="item fl square">10月的水费</div>
                        <div class="item fl square">2020-11-7&nbsp;&nbsp;15:17</div>
                    </div>
    
    
                </div>
                <div class="tfoot">
                    <a href="#" class="page">首页</a>
                    <a href="#"><i>上一页</i></a> 
                    <a href="javascript:void(0)" class="page pageCurrent">第<input type="text" class="pageNumber">页</a>
                    <a href="#"><i>下一页</i></a>
                    <a href="#" class="page">尾页</a>
                    <a href="#" class="page pageSum">共 <span>1</span> 页</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer wrap">
        <p>Copyright &copy; 归&来</p>
    </div>

    <script src="js/jquery-3.5.1-min.js" th:src="@{/js/jquery-3.5.1-min.js}"></script>
    <script src=""></script>
</body>
</html>

